/*
/* la braise info@labraise.be
/* Integration by Affinitic.be
/* avril 2009
*/

body{
background-color:#776b5c;
background-image:url(bckg_body.gif);
/*background-image:url(bckg_body2.jpg);*/
}

.visualClear {
clear:none;
}

/*** BARRE PERSONNEL***/
#portal-personaltools {
width:919px;
background-color:#fff;
border-bottom:none;
border-top:none;
border-left:2px solid #4f1e0a;
border-right:2px solid #4f1e0a;
color:#999;
line-height:1.6em;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin-left:auto;
margin-right:auto;
padding:0em 6px 0em 0em;
text-align:right;
text-transform:none;
}
#portal-personaltools li a {
text-decoration:none;
}
#portal-personaltools li a:hover {
color:#ac3a06;
text-decoration:none;
}

/*** BANDEAU SUP ***/
#header-labraise{
margin-left:auto;
margin-right:auto;
margin-bottom:0px;
background-color:#fff;
background-image:url(bckg_mur.png);
background-repeat:no-repeat;
background-position:left top;
border-left:2px solid #4f1e0a;
border-right:2px solid #4f1e0a;
width:925px;
height:189px;
}

#labraise-logo{
position:absolute;
width:188px;
margin-left:21px;
z-index:10;
}

#labraise-anim{
position:relative;
left:176px;
z-index:;-1;
border-bottom:3px solid #9e6852;
width:749px;
}

#anim{
width:750px;
height:147px;
}

/*** LANGUAGE SELECTOR ***/
#languageselector{
background-color:#FFFFFF;
height:0px;
left:196px;
margin:auto;
top:0px;
width:925px;
border-left:2px solid #4f1e0a;
border-right:2px solid #4f1e0a;
}

#portal-languageselector {
float:right;
margin-right:50px;
margin-top:-21px;
}

#portal-languageselector li {
margin-left:2px;
margin-right:2px;
}

#portal-languageselector li a {
color:#777;
text-decoration:none;
}

#portal-languageselector li.currentItem a {
font-weight: bolder;
color:#D35904;
}

li.currentItem {
border:none;
padding:0px;
}

#portal-languageselector li a:hover {
color:#ac3a06;
}

/*** FIL ARIANE - BREADCRUMBS ***/
/**
#portal-breadcrumbs {
background-color:#fff;
width:911px;
border-bottom:1px solid #ebc5b6;
border-left:1px solid #4f1e0a;
border-right:1px solid #4f1e0a;
line-height:1.6em;
padding-left:15px;
padding-right:0em;
text-transform:none;
margin-left:auto;
margin-right:auto;
}

#portal-breadcrumbs a {
color:#777;
}

#portal-breadcrumbs a:hover {
color:#ac3a06;
}
**/

/*** TABLEAU CONTENU***/
#main-content{
width:925px !important;
margin:auto;
border-left:2px solid #4f1e0a;
border-right:2px solid #4f1e0a;
}

#portal-columns{
}

/*** COLONNE GAUCHE ***/
#portal-column-one {
width:155px;
border-collapse:collapse;
background-color:#fff;
}

#portal-column-one .visualPadding {
padding:9px 0 1em 14px;
}

.portlet {
background-color:transparent;
border-bottom:0px solid #8CACBB;
margin:1px 0 1em;
}

.portletItem {
border-left:0px solid #8CACBB;
border-right:0px solid #8CACBB;
margin:0;
padding:0em 0em 0em 0em;
}


.navTreeItem a, dd.portletItem .navTreeItem a {
background-color:transparent;
border:none !important;
display:block;
height:16px;
width:180px;
text-decoration:none;
text-align:left;
/*font-variant:small-caps;*/
font-family:verdana, arial, sans-serif;
font-size:1.3em;
padding:9px 0px 10px 25px;
color:#fff;
margin-bottom:-1px;
}

.navTreeItem a:hover, dd.portletItem .navTreeItem a:hover {
background-color:transparent;
border:none;
color:#fff;
}

.navTree li {
margin-bottom:1px;
background-image:url(menu_content_off.png);
}

.navTree li:hover {
margin-bottom:1px;
background-image:url(menu_content_on.png);
}


.navTreeCurrentItem {
margin-bottom:1px;
background-image:url(menu_content_on.png);
}

.navTreeItm .sousMenu a {
background-color:#f00;
border:2px solid #f00;
background-image:none;
text-decoration:underline;
color:#000;
}

.state-published {
color:#fff !important;
}

.navigationHeader{
background-image:url(menu_header.png);
width:205px;
height:22px;
}

.navigationLastItem{
background-image:url(menu_footer.png);
width:205px;
height:21px;
}


#portal-column-content{
background-color:#fff;    
}

#footer-labraise{
width:929px;
height:37px;
background-color:transparent;
background-image:url(footer.png);
background-repeat:no-repeat;
background-position:center;
margin:auto;
text-align:center;
color:#888;
}

#marque{
font-size:0.8em;
font-weight:none;
padding-top:7px;
}

#marque a {
color:#333;
font-weight:none;
color:#aaa;
}

#marque a:hover {
color:#333;
font-weight:none;
color:#333;
}

#linksPlone{
margin-left:310px;
float:left;
}

#linksAffinitic{
margin-right:248px;
float:right;
}

h1, h2 {
border-bottom:1px solid #D35904;
}

.documentContent li a:visited, a {
color: #ac3a06;
}

.documentActions {
display: none;
}
